#footer1{

    

background: #2D4059;
color: white;
}
#footer1 img{
width: 30px;
height: 30px;
border-radius: 50%;
background: gainsboro;
margin-top: 10px;
margin-right: 5px;

}
#footer1 h5{
font-weight: bolder;
font-size: large;
margin-bottom: 5px;


}
#footer1 article{
display: flex;
flex-direction: row;
text-align: justify;
padding-left: 15px;
padding-right: 15px;
padding-top: 40px;
padding-bottom: 40px;
}
#footer1articles{
padding-left: 15%;
padding-right: 15%;
display: flex;
flex-direction: row;
justify-content: center;

}
#footer2{
   background: #E5E5E5 ;
   color: #2D4059 ;
   display: flex;
   justify-content: space-around;
   padding: 60px;
}
#footer2 div{
line-height: 40px;
font-size: large;
}


#footer2Second{

text-align: end;

}

#footer3{
display: flex;
flex-direction: row;
justify-content: space-evenly;
    
    font-size: large;  
    padding: 10px;


}
#footer3Elements{
padding-top: 20px;
  padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 20px;
background: #2D4059;
    color: white;
}






