.meilleures-ventes-home{
    margin-top: 200px;
}
.h2-home{
    color:#EA5455;
    margin-left:284.72px;
    font-weight: bold;
    font-size: 25px;
}
.container-box{
    display:flex;
    flex-direction: row;
}
.margin-first{
    margin-left: 284.72px;
}
.box{
    width:200px;
    height:200px;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.1);
    margin-top: 45px;
    margin-right:20px;
}
.img-marteau-home{
    width:140px;
    height:140px;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
}
.p-carousel{
    font-weight: bold;
    font-size: 0.8em;
    margin-left:5%;
}
.p-stock-home{
    font-size: 0.8em;
    color:#42CC58;
    padding-right: 5%;
}
.prix-stock-home{
    display :flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:5%;
    padding-left: 5%;
}
.fleche-gauche-home{
    position:relative;
    top:50%;
    left:700%;
    color:#EA5455;
}
.fleche-droite-home{
    position:relative;
    top:50%;
    left:300%;
    color:#EA5455;
}
.title-categories-home{
    display:flex;
    flex-direction: row;
}
.categories-home{
    margin-top: 200px;
}
.voir-tout-home{
    text-decoration: none;
    color:black;
    padding-left: 2%;
}
.container-categories-home1{
    margin-left:284.72px;
    margin-top:50px;
    display:flex;
    flex-direction: row;
    
}
.category-home{
    width:100px;
    height:100px;
    background-color:#2D4059;
    border-radius:15%;
    margin-right: 4%;
}
.icon-category-home{
    color:#ffffff;
    margin-left:10%;
    margin-top:10%;
}
.choix-home{
    margin-top:200px;
}
.image-choix-home{
    width: 80%;
    height:200px;
    
}
.container-choix-image-home{
    margin-bottom: 200px;
    margin-top:50px;
    margin-left:284.72px;
    margin-right: 284.72px;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0%;
}
.choisi-home{
    text-align: center;
    color:#EA5455;
    font-weight: bold;
}



